body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #294e66;
}

input {
    background-color: rgb(34, 74, 139);
    text-align: center;
    border: rgb(255, 255, 255);
    border-width: 2px;
    border-style: inset;
    border-radius: 6px;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}