        body {
            margin: 0;
            font-family: 'Roboto';
            background-color: #0b3d5f;
        }
        
        input {
            text-align: center;
            background-color: #1976d2;
            border-style: none;
        }
        
        input::placeholder {
            color: white;
            font-size: medium;
            font-variant: inherit;
        }
        
        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        }